.edit-account-container
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.231);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

.edit-account-container .edit-account-table
{
  position: absolute;
  height: 500px;
  width: 700px;
  padding: 50px;
  display: grid;
  grid-template-columns: 25% 75%;
  background: whitesmoke;
  z-index: 10002;
}

.edit-account-container .edit-account-table .exit-edit-account-table
{
  position: absolute;
  top:10px;
  right: 10px;
  color: black;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-account-container .edit-account-table .exit-edit-account-table:hover
{
  background-color: rgb(245, 200, 115);
}

.edit-account-container .edit-account-table .title
{
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;

  text-align: center;
  font-weight: bolder;
  font-size: 24px;
}

.edit-account-container .edit-account-table label
{
  grid-column: 1/2;

  display: flex;
  justify-content: left;
  align-items: center;

  text-align: center;
 
}

.edit-account-container .edit-account-table input,select 
{
  grid-column: 2/3;
  border: 1px solid black;
  height: 90%;
  padding-left: 20px ;
}

.edit-account-container .edit-account-table input::placeholder,select::placeholder
{
  color: rgb(124, 123, 123);
}

.edit-account-container .edit-account-table #select-type-edit
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-account-container .edit-account-table .save-account-btn
{
  grid-column: 2/3;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: right;
  align-items: center;
}

.edit-account-container .edit-account-table .save-account-btn button
{
  width: 150px;
  height: 40px;

  background: orange;
  border-radius: 5px;

  text-align: center;
}


.edit-account-container .edit-account-table .save-account-btn button:hover
{
  background: rgb(255, 123, 0);
}
